<% if user_signed_in? %>
<h1 class="text-center lead">Editing Person</h1>

<%= render 'form' %>

<%= link_to '< Back', people_path %> |
<%= link_to 'Show', @person %>

<% else %>
  <h1 class="text-center text-muted">You are not logged in... :'(</h1>
  <p class="text-center">
    <%= link_to "Clique here to Login", new_user_session_path, :class => 'btn btn-primary btn-lg'  %>
  </p>
<% end %>