<% if user_signed_in? %>

<h1 class="text-center lead">New Category</h1>

<%= render 'form' %>

<%= link_to '< Back', categories_path %>

  <% else %>
  <script type="text/javascript">
    window.location.href="/users/sign_in"
  </script>
<% end %>